body {
  margin: 0;
  padding: 0;
  background-color: #F8FCFD;
  color: black;
  font-size: 25px;
  font-family: 'messyCrayon';
}

@font-face {
  font-family: 'messyCrayon';
  src: url('fonts/ieatcrayons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

