#link-area {
  background-color: black;
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

#link-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  padding-bottom: 50px;
}

#link-collection a {
  padding-right: 3vw;
  font-family: 'bank';
  font-size: 20px;
  color: white;
}
