#curr-projects {
  padding-top: 40px;
  padding-bottom: 40px;
}

#framework-keyboard-link {
  color: blue;
}

#curr-projects {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#text-list {
  width: 70%;
}
