.mainpage {
  padding: 70px;
  padding-top: 250px;
  padding-bottom: 250px;
}

#title {
  font-size: 60px;
  text-align: center;
  margin-bottom: -10px;
}

#myname {
  font-size: 20px;
  font-family: 'bank';
  text-align: center;
}

@font-face {
  font-family: 'bank';
  src: url('fonts/F25_Bank_Printer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
