#topnavbar-container {
  background-color: black;
  color: white;
  overflow: hidden;
  padding: none;
  margin: none;
  height: 50px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: right;
  align-content: center;
}

.navbar-box {
  padding-right: 30px;
}

.nav-link {
  font-family: 'bank';
  font-size: 15px;
  text-decoration: none;
  color: inherit;
  padding-left: 15px;
}

.nav-button {
  font-family: 'bank';
  font-size: 15px;
  color: white;
  background-color: black;
  transition: color 0.5s ease-in-out; 
  border-radius: 10px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-button:hover {
  color: black;
  background-color: white;
}

@font-face {
  font-family: 'bank';
  src: url('fonts/F25_Bank_Printer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
